
.card {
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px gray;
}

a {
    color: cyan;
    transition: color 0.15s;
 }

a:hover {
    color: orange;
 }

.pic {
    margin: 10px 0px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px gray;
    padding: 10px;
}

 p {
    font-family: Helvetica;
    font-size: 18px;
 }

.shoes {
    
    font-size: 20px;
    font-weight: bold;
 }

.price {
    color: rgb(30, 213, 30);
 }

.cart {
    padding: 10px 20px;
    border:none;
    border-radius: 30px;
    font-weight: bold;
    background-color: rgb(250, 202, 44);
    color: black;
    cursor: pointer;
}

.buy {
    height: 36px;
    width: 100px;
    border:none;
    border-radius: 18px;
    font-weight: bold;
    background-color: rgb(255, 136, 0);
    color: black;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-right: 10px;
}

.orders {
    padding: 20px;
    height: 350px;
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0px 0px 10px 0px gray;
    margin: 20px;
    border-radius: 15px;
}