
.amazonBody {
    overflow-x: hidden;
}

.amazonBody p{
    font-family: helvetica;
    font-size: clamp(15px, 2vw, 15px);
}

.amazonBody h1{
    font-size: clamp(15px, 50vw, 40px);
}


.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    justify-self: center;
    margin-top: 100px;
    height: fit-content;
    width: fit-content;
    padding: 30px;
}



.card {
    height: 430px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px gray;
}

.pic {
    height: 100%;
    width: 100%;
    
}

.pic-wrapper {
    margin: 10px 0px;
    height: 150px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px gray;
    padding: 10px;
}


.name {
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    margin-bottom: 20px;
 }

.qty {
    width: 50px;
    cursor: pointer;
}

.cart {
    padding: 10px 20px;
    border:none;
    border-radius: 30px;
    font-weight: bold;
    background-color: rgb(250, 202, 44);
    color: black;
    cursor: pointer;
    font-size: clamp(10px, 1.4vw, 15px);
}

.buy {
    padding: 10px 20px;
    border:none;
    border-radius: 30px;
    font-weight: bold;
    background-color: rgb(255, 136, 0);
    color: black;
    cursor: pointer;
    font-size: clamp(10px, 1.4vw, 15px);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 10px;
}

.orders {
    padding: 20px;
    height: fit-content;
    max-height: 450px;
    width: 360px;
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: 0px 0px 10px 0px gray;
    background-color: white;
    margin: 20px;
    border-radius: 15px;
    z-index: 2;
}

.order-label {
    margin-right: 50px;
}

.order-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.min-orders {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    z-index: 3;
    background-color: white;
    box-shadow: 0px 0px 10px 0px gray;
    margin: 20px;
    display: none;
}

.m-btn {
    border: none;
    height: fit-content;
    width: fit-content;
    margin-right: 5px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px gray;
}

.order-table {
    width: 85%;
}

.order-headings {
    margin: 10px;
}

.order-div {
    height: fit-content;
    max-height: 80px;
    width: 90%;
    overflow-y: scroll;
    overflow-x: scroll;
    -ms-overflow-style: none;
}

.order-div::-webkit-scrollbar{
    display: none;
}

.order-table td {
    padding: 0px 10px;
}

.order-list{
    margin: 0px;
    width: fit-content;
    max-width: 100px;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.reset {
    display: block;
    border: none;
    border-radius: 30px;
    background-color: red;
    font-weight: bold;
    font-size: clamp(10px, 1.4vw, 15px);
    margin: 10px 0px;
    padding: 10px 20px;
    cursor: pointer;
}

@media (max-width:800px){
    .products{
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 600px){
    *{
        margin: 0;
    }
    .card{
        height: fit-content;
        width: fit-content;
    }
    .orders {
        width: fit-content;
        max-height: 300px;
    }
    .order-div{
        max-height: 25px;
    }
    .min-orders {
        width: 30vw;
    }
    .order-label{
        margin-right: 20px;
    }
    .cart, .buy, .reset {
        border-radius: 20px;
        padding: 10px 8px;
        margin: initial 20px;
        white-space: nowrap;
    }
}

@media(max-width:380px) {
    .products{
        grid-template-columns: 1fr;
    }
    .buttons{
        display: inline;
    }
    .buy {
        margin-left: 20px;
    }

    .min-orders{
        width: fit-content;
        padding: 5px;
    }

    
    .m-btn{
        margin-left: 5px;
    }
    .cart{
        border-radius: 18px;
    }
    .reset{
        padding: 5px 10px;
        border-radius: 18px;
    }
}