.gameBody {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.main-div {
    display: flex;
}

.square {
    height: 50px;
    width: 50px;
    font-weight: 700;
    font-size: 18px;
    background-color: azure;
    border: 1px solid black;
    cursor:pointer;
}

.gameboard-wrapper {
    display: inline;
}

.gameboard {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 150px;
    border-collapse: collapse;
}

.steps {
    margin: 10px;
}

.steps-list {
    display: inline-block;
    margin: 0px 0px 0px 30px;
}